[Unit]
Description=Configure routes after network is online
After=network-online.target
Wants=network-online.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/network-config.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target