[Unit]
Description=Generate systemd-networkd configuration from JSON
After=local-fs.target
Before=systemd-networkd.service systemd-networkd.socket
Wants=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/network-config.sh /etc/network_conf.json /etc/systemd/network
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target